<section>
    <div class='air air1'></div>
    <div class='air air2'></div>
    <div class='air air3'></div>
    <div class='air air4'></div>

    <div class="slider-thumbb">
        <div class="slider-thumb1 slider-thumb"></div>
        <div class="slider-thumb2 slider-thumb"></div>
        <div class="slider-thumb3 slider-thumb"></div>
        <div class="slider-thumb4 slider-thumb"></div>
    </div>
</section>

<!--Permite ver el pic del profile seleccionado,
aunque hay que cargalo desde el principio-->
@if(profile.profilePic==null){
    <div class="perfil" (click)="IrAPerfil()"></div>
}@else{
    <div class="perfil2" (click)="IrAPerfil()">
        <img class="rounded-full border-2 border-emerald-950" src="{{profile.profilePic}}"/>
    </div>
}



<div class="inicio1" *ngIf="this.cuadoInicio == 0">
    <div class="jugar" type="boton" (click)="JugarB()">Jugar</div>
    <div class="RankingG" type="boton" (click)="RankGB()">Ranking Global</div>
    <div class="RankingL" type="boton" (click)="RankLB()">Ranking Local</div>
</div>
