<section>
    <div class='air air1'></div>
    <div class='air air2'></div>
    <div class='air air3'></div>
    <div class='air air4'></div>

    <div class="slider-thumbb">
        <div class="slider-thumb1 slider-thumb"></div>
        <div class="slider-thumb2 slider-thumb"></div>
        <div class="slider-thumb3 slider-thumb"></div>
        <div class="slider-thumb4 slider-thumb"></div>
    </div>
</section>

<div class="perfil" (click)="IrAPerfil()"></div>

<div class="inicio1" *ngIf="cuadoInicio == 0">
    <div class="jugar" type="boton" (click)="JugarB()">Jugar</div>
    <div class="RankingG" type="boton" (click)="RankGB()">Ranking Global</div>
    <div class="RankingL" type="boton" (click)="RankLB()">Ranking Local</div>
</div>
