<section class="relative">
    <div class='air air1'></div>
    <div class='air air2'></div>
    <div class='air air3'></div>
    <div class='air air4'></div>

    <div class="slider-thumbb">
        <div class="slider-thumb1 slider-thumb"></div>
        <div class="slider-thumb2 slider-thumb"></div>
        <div class="slider-thumb3 slider-thumb"></div>
        <div class="slider-thumb4 slider-thumb"></div>
        <div class="slider-thumb1r slider-thumb lg:block hidden"></div>
        <div class="slider-thumb2r slider-thumb lg:block hidden"></div>
        <div class="slider-thumb3r slider-thumb lg:block hidden"></div>
        <div class="slider-thumb4r slider-thumb lg:block hidden"></div>
        <div class="slider-thumb1a slider-thumb lg:block hidden"></div>
        <div class="slider-thumb2a slider-thumb lg:block hidden"></div>
        <div class="slider-thumb3a slider-thumb lg:block hidden"></div>
        <div class="slider-thumb4a slider-thumb lg:block hidden"></div>
        <div class="slider-thumb1m slider-thumb lg:block hidden"></div>
        <div class="slider-thumb2m slider-thumb lg:block hidden"></div>
        <div class="slider-thumb3m slider-thumb lg:block hidden"></div>
        <div class="slider-thumb4m slider-thumb lg:block hidden"></div>
    </div>
</section>

<!--Permite ver el pic del profile seleccionado,
aunque hay que cargalo desde el principio-->
@if(profile.profilePic==null){
    <div class="perfil" (click)="IrAPerfil()"></div>
}@else{
    <div class="perfil2" (click)="IrAPerfil()">
        <img class="rounded-full border-2 border-emerald-950" src="{{profile.profilePic}}"/>
    </div>
}

<div class="absolute left-0 top-0 text-white">
    <p>auntores: Wali & Juanpa<br>Version 0.1.9.9</p>
</div>

<div class="grid sm:items-center justify-center">
    <div class="inicio1 flex flex-col items-center" *ngIf="this.cuadoInicio == false">
        <div class="jugar inicioBoton" type="boton" (click)="JugarB()"><div class="introJugar intro">Jugar</div></div>
        <div class="RankingG inicioBoton" type="boton" (click)="goToRanking()"><div class="introRG intro">Ranking Global</div></div>
        <div class="RankingL inicioBoton" type="boton" (click)="gotoInfo()"><div class="introRL intro">Informacion</div></div>
    </div>
    <div class="inicio2 flex flex-col items-center" *ngIf="this.cuadoInicio == true">
        <div class="jugar inicioBoton" type="boton" (click)="goToNewGame()"><div class="introJugar intro">Nueva Partida</div></div>
        <div class="RankingG inicioBoton" type="boton" (click)="goToPartidaList()"><div class="introRG intro">Cargar Partida</div></div>
        <div class="retroceder inicioBoton" type="boton" (click)="JugarB()"><div class="retrocediendo intro">Atras</div>
    </div>
</div>
