<div class="bg-emerald-800 text-emerald-200">
    <h1 class="text-center text-3xl">Ranking</h1>
    <!--nav-->
    <div class="grid grid-cols-3 text-center m-2 text-2xl rounded-md">
       
        <a (click)="goToInicio()" class="border-2 border-emerald-950 pl-4 pr-4 rounded-md p-2 
            bg-emerald-950 text-emerald-100 shadow-sm 
            shadow-black hover:pr-6 hover:pl-6
            duration-150 cursor-pointer hover:bg-emerald-200 
            hover:text-emerald-950 md:ml-4 md:mr-4">Inicio</a>
        <a (click)="goToProfile()" class="border-2 border-emerald-950 pl-4 pr-4 rounded-md p-2 
            bg-emerald-950 text-emerald-100 shadow-sm 
            shadow-black hover:pr-6 hover:pl-6
            duration-150 cursor-pointer hover:bg-emerald-200 
            hover:text-emerald-950 md:ml-4 md:mr-4">Perfil</a>
        <a (click)="goLogout()" class="border-2 border-emerald-950 pl-4 pr-4 rounded-md p-2 
            bg-emerald-950 text-emerald-100 shadow-sm 
            shadow-black hover:pr-6 hover:pl-6
            duration-150 cursor-pointer hover:bg-emerald-200 
            hover:text-emerald-950 md:ml-4 md:mr-4">Logout</a>
    </div>
    <div class="flex justify-center">
        <div class="md:w-1/2">
            @for (profile of this.profiles; track profile) {
                <div class="flex flex-row border-2 rounded-md 
                border-emerald-500 bg-emerald-950 text-emerald-300 
                m-2 p-2 justify-center shadow-sm shadow-emerald-400">
                    <div class="grid grid-cols-3 gap-2 m-0 w-96">
                        <img class="rounded-md border-2 border-emerald-500" src="{{profile.profilePic}}" height="64" width="64p"/>
                        <h1 class="text-2xl self-center">{{profile.name}}</h1>
                        <div class="grid grid-col-1 self-center">
                            <div>Score: {{profile.puntuacion}}</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

