<div class="flex flex-col justify-center items-center">
    <!--Profile -->
    <div class="md:grid md:grid-cols-2 xl:grid-cols-1 rounded-md border-emerald-300 m-4 
            text-white p-4 bg-emerald-600 md:ml-10 md:mr-10 mt-10">
        <div class="">
            <!--Name-->
            <div class="grid grid-cols-3 text-center">
                <div></div>
                <h1 class="text-3xl border-2 rounded-md shadow-md p-1 m-2 
                    border-emerald-950 bg-emerald-950">
                    Pepin
                </h1>
                <div></div>
            </div>
            <!--Picture-->
            <div class="flex self-center justify-center">
                <img class="rounded-full border-2" src="../../../../public/buttonssets/portraits-64px/portrait10-4x.png" alt="" height="256px" width="256px">
            </div>
        </div>
        <!--Profile data add more rows if needed-->
        <div class="flex flex-col text-center justify-center text-xl m-4">
            <div>ranking global</div>
            <div class="grid grid-cols-2 md:grid-cols-1">
                <div>wins</div>
                <div>loses</div>
            </div>
        </div>
    </div>
    <!--nav bar-->
    <div class="grid grid-cols-3 sm:grid-cols-3 md:flex md:flex-row md:justify-center sm:gap-0 gap-5 
                bg-emerald-600 md:ml-10 md:mr-10 mt-2 m-4 text-center p-4 rounded-md">
        <div>
            <button (click)="goToInicio()" class="border-2 border-emerald-950 pl-4 pr-4 rounded-md p-2 
            bg-emerald-950 text-emerald-100 shadow-sm 
            shadow-black hover:pr-6 hover:pl-6
            duration-150 cursor-pointer hover:bg-emerald-200 
            hover:text-emerald-950 md:ml-4 md:mr-4">Inicio</button>
        </div>
        <div>
            <button (click)="goLogout()" class="border-2 border-emerald-950 pl-4 pr-4 rounded-md p-2 
            bg-emerald-950 text-emerald-100 shadow-sm 
            shadow-black hover:pr-6 hover:pl-6 
            duration-150 cursor-pointer hover:bg-emerald-200 
            hover:text-emerald-950 md:ml-4 md:mr-4">Logout</button>
        </div>
        <div>
            <button class="border-2 border-emerald-950 pl-4 pr-4 rounded-md p-2 
            bg-emerald-950 text-emerald-100 shadow-sm 
            shadow-black hover:pr-6 hover:pl-6 
            duration-150 cursor-pointer hover:bg-emerald-200 
            hover:text-emerald-950 md:ml-4 md:mr-4">otroBoton</button>
        </div>
    </div>
</div>