<section class="relative">
    <div class='air air1'></div>
    <div class='air air2'></div>
    <div class='air air3'></div>
    <div class='air air4'></div>

    <div class="slider-thumbb">
        <div class="slider-thumb1 slider-thumb"></div>
        <div class="slider-thumb2 slider-thumb"></div>
        <div class="slider-thumb3 slider-thumb"></div>
        <div class="slider-thumb4 slider-thumb"></div>
        <div class="slider-thumb1r slider-thumb lg:block hidden"></div>
        <div class="slider-thumb2r slider-thumb lg:block hidden"></div>
        <div class="slider-thumb3r slider-thumb lg:block hidden"></div>
        <div class="slider-thumb4r slider-thumb lg:block hidden"></div>
        <div class="slider-thumb1a slider-thumb lg:block hidden"></div>
        <div class="slider-thumb2a slider-thumb lg:block hidden"></div>
        <div class="slider-thumb3a slider-thumb lg:block hidden"></div>
        <div class="slider-thumb4a slider-thumb lg:block hidden"></div>
        <div class="slider-thumb1m slider-thumb lg:block hidden"></div>
        <div class="slider-thumb2m slider-thumb lg:block hidden"></div>
        <div class="slider-thumb3m slider-thumb lg:block hidden"></div>
        <div class="slider-thumb4m slider-thumb lg:block hidden"></div>
    </div>
</section>


<div class="border-2 border-emerald-950 rounded-md p-10 bg-emerald-400 flex justify-center item-center">
   @for (partida of this.partidas; track partida) {
    <div class="border-2">
        <h1>Partida</h1>
        <div class="grid grid-cols-3">
            <div>Turnos {{partida.counterTurnos}}</div>
            <div class="col-span-3">
                Infeccion total {{partida.infeccionTotal()}}
            </div>
            <div>
                @for (ciudad of partida.listCiudades; track ciudad) {
                    @for (personaje of ciudad.listPersonajes; track personaje) {
                        <div>{{personaje.name}}</div>
                        <div>{{personaje.ciudadEnLaQueEsta.nombre}}</div>
                    }
                }
            </div>
        </div>
    </div>
   }
</div>