<div class="relative flex justify-center content-center m-0">
   

    <!--main container (en tamaño movil solo se podria mostrar de lado, es decir horizontalmente)-->
    <div class="grid m-2 h-full w-full rounded-md p-2 select-none">
        
                
        <!--div de datos de la ciudad-->
        <div class="z-20  p-2 absolute left-1">
            <div class=" rounded-md p-2 border-emerald-300 border-2">
                <div class="grid grid-cols-4 rounded-md text-center gap-1">
                    <div class="bg-blue-400 text-blue-950 border-blue-950 rounded-md text-md">
                        &nbsp;  {{getEnfermedadByName('azul')?.turnosParaCurar}}
                    </div>
                    <div class="bg-red-400 text-red-950 border-red-950 rounded-md text-md">
                        &nbsp;  {{getEnfermedadByName('roja')?.turnosParaCurar}}
                    </div>
                    <div class="bg-yellow-400 text-yellow-950 border-yellow-950 rounded-md text-md">
                        {{getEnfermedadByName('amarilla')?.turnosParaCurar}}
                    </div>
                    <div class="bg-green-400 text-green-950 border-green-950 rounded-md text-md">
                        {{getEnfermedadByName('verde')?.turnosParaCurar}}
                    </div>
                </div>
                <div class="text-center text-emerald-300">Vacunas</div>
            </div>
            <div class="flex flex-col justify-center content-center">
                <button (click)="mostrarCiudadesMasInfectadas()" class="border-2 border-emerald-950 rouded-md pl-4 pr-4 p-2 rounded-md m-2 bg-emerald-800 text-emerald-200 shadow-md shadow-black 
                hover:bg-emerald-400 hover:text-emerald-950 duration-150">
                    Ciudades
                </button>
            </div>
            @if (ciudadSeleccionada.nombre) {
                <div class="p-1 border-2 rounded-md border-emerald-300 bg-emerald-600">
                    <h1 class="text-center">{{ciudadSeleccionada.nombre}}</h1>
                    <div class="grid grid-cols-2 text-center">
                        <div class="border-2 border-yellow-500 bg-yellow-700 text-yellow-200 rounded-md p-1 text-sm">
                            Chinosis: {{ciudadSeleccionada.eAmarillo}}
                        </div>
                        <div class="border-2 border-green-500 bg-green-700 text-green-200 rounded-md p-1 text-sm">
                            Veganitis: {{ciudadSeleccionada.eVerde}}
                        </div>
                        <div class="border-2 border-red-500 bg-red-700 text-red-200 rounded-md p-1 text-sm">
                            Gastroindio: {{ciudadSeleccionada.eRojo}}
                        </div>
                        <div class="border-2 border-blue-500 bg-blue-700 text-blue-200 rounded-md p-1 text-sm">
                            Polinoma: {{ciudadSeleccionada.eAzul}}
                        </div>
                    </div>
                    <div>
                        <h1 class="text-center">Ciudades colindantes:</h1>
                        <div class="grid grid-cols-2 gap-1 justify-center text-center">
                            @for (ciudad of ciudadSeleccionada.listCiudadesColindandes; track ciudad) {
                                <div class="border-2 rounded-md ">
                                    {{ciudad}}
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>



<!--Contenedor del mapa-->
        <div class="z-10 map-container  relative w-full h-full col-span-3" 
            (wheel)="onZoom($event)" 
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp()">
            
            
            <!--lineas de conexion-->
            <svg class="absolute inset-0 w-full h-full pointer-events-none"
            [ngStyle]="{'transform': 'scale(' + zoomLevel + ') translate(' + offsetX + 'px, ' + offsetY + 'px)'}">
            <ng-container *ngFor="let ciudad of partida.listCiudades">
                <ng-container *ngFor="let colindante of ciudad.listCiudadesColindandes">
                    <line 
                        [attr.x1]="ciudad.coordenadasX * scalingFactorX + 10"
                        [attr.y1]="ciudad.coordenadasY * scalingFactorY + 10"
                        [attr.x2]="(getCiudad(colindante)?.coordenadasX || 0) * scalingFactorX + 10"
                        [attr.y2]="(getCiudad(colindante)?.coordenadasY || 0) * scalingFactorY + 10"
                        stroke="red"
                        stroke-width="2">
                    </line>
                </ng-container>
            </ng-container>
          </svg>
          <!--Ciudades-->
                <div class="wrapper"  [ngStyle]="{'transform': 'scale(' + zoomLevel + ') translate(' + offsetX + 'px,' + offsetY + 'px)'}">
                    <img src="/mapa/mapa_mundo.png" class="w-full h-full object-cover unselectable" draggable="false" (dragstart)="false;">
                     @for (ciudad of partida.listCiudades; track ciudad) {
                           <div (click)="showData(ciudad)" class="cursor-pointer absolute bg-blue-500 text-white rounded-full p-1 border-2 select-none" 
                            [ngStyle]="{
                                'left.px': (ciudad.coordenadasX * scalingFactorX),
                                'top.px': (ciudad.coordenadasY * scalingFactorY)}"
                            [ngClass]="{
                                'especialista':ciudad.listPersonajes && ciudad.listPersonajes[0]?.name === 'Especialista en Cuarentenas',
                                'medico' : ciudad.listPersonajes && ciudad.listPersonajes[0]?.name === 'Médico',
                                'constructor' : ciudad.listPersonajes && ciudad.listPersonajes[0]?.name === 'Constructor',
                                'investigado' : ciudad.listPersonajes &&  ciudad.listPersonajes[0]?.name === 'Investigador' 
                            }">
                            </div>
                            
                            <div class="striped-div bg-red-600" *ngIf="ciudad.eRojo>ciudad.eAmarillo && ciudad.eRojo>ciudad.eAzul && ciudad.eRojo>ciudad.eVerde && ciudad.eRojo>0"
                            [ngStyle]="{'left.px': (ciudad.coordenadasX * scalingFactorX),'top.px': (ciudad.coordenadasY * scalingFactorY)}">
                            </div>
                            <div class="striped-div bg-blue-700" *ngIf="ciudad.eAzul>ciudad.eRojo && ciudad.eAzul>ciudad.eVerde && ciudad.eAzul>ciudad.eAmarillo && ciudad.eAzul>0"
                                [ngStyle]="{'left.px': (ciudad.coordenadasX * scalingFactorX),'top.px': (ciudad.coordenadasY * scalingFactorY)}"> 
                            </div>
                            <div class="striped-div bg-green-600" *ngIf="ciudad.eVerde>ciudad.eAmarillo && ciudad.eVerde>ciudad.eAzul && ciudad.eVerde>ciudad.eRojo && ciudad.eVerde>0"
                            [ngStyle]="{'left.px': (ciudad.coordenadasX * scalingFactorX),'top.px': (ciudad.coordenadasY * scalingFactorY)}">
                            </div>
                            <div class="striped-div bg-yellow-600" *ngIf="ciudad.eAmarillo>ciudad.eRojo && ciudad.eAmarillo>ciudad.eVerde && ciudad.eAmarillo>ciudad.eAzul && ciudad.eAmarillo>0"
                                [ngStyle]="{'left.px': (ciudad.coordenadasX * scalingFactorX),'top.px': (ciudad.coordenadasY * scalingFactorY)}"> 
                            </div>
                            <div class="striped-div bg-white" *ngIf="!(ciudad.eRojo === 0 || ciudad.eAzul === 0 || ciudad.eAmarillo === 0 || ciudad.eVerde === 0) && (!(ciudad.eRojo>ciudad.eAmarillo && ciudad.eRojo>ciudad.eAzul && ciudad.eRojo>ciudad.eVerde) || !(ciudad.eAzul>ciudad.eRojo && ciudad.eAzul>ciudad.eVerde && ciudad.eAzul>ciudad.eAmarillo) || !(ciudad.eVerde>ciudad.eAmarillo && ciudad.eVerde>ciudad.eAzul && ciudad.eVerde>ciudad.eRojo) || !(ciudad.eAmarillo>ciudad.eRojo && ciudad.eAmarillo>ciudad.eVerde && ciudad.eAmarillo>ciudad.eAzul))"
                            [ngStyle]="{'left.px': (ciudad.coordenadasX * scalingFactorX),'top.px': (ciudad.coordenadasY * scalingFactorY)}"> 
                            </div>
                            <div class="flex flex-col justify-center mt-1 text-sm absolute text-white rounded-full p-2 text-center"  [ngStyle]="{
                                'left.px': (ciudad.coordenadasX * scalingFactorX),
                                'top.px': (ciudad.coordenadasY * scalingFactorY)}">
                                
                                <div>
                                    {{ciudad.nombre}}
                                </div>
                            </div>
                            }   
                </div>
            </div>


        <!--datos partida-->
        <div class="z-20 border-2 rounded-md border-emerald-300 bg-emerald-600 p-2 absolute right-5">
            <!--Actualizaciones del turno y mas data-->
            <div class="grid grid-cols-2 text-center border-2 border-emerald-950 rounded-sm m-1 p-2">
                <div>
                    Jugadas restantes: {{partida.jugadas}}
                </div>
                <div>
                    Turno número: {{partida.counterTurnos}}
                </div>
            </div>
            <div class="grid text-center border-2 border-emerald-950 rounded-md m-1 p-1" (click)="desplegarOpciones()">↡</div>
            <!--datos personajes-->
            <div *ngIf="opcionesDesp==true">
                <div class="text-center border-2 border-emerald-700 rounded-md">
                    <div class="grid md:grid-cols-4 xl:grid-cols-2">
                        @for (personaje of listPersonajes; track personaje) {
                                    <div class="flex flex-col">
                                        <div class="flex flex-row justify-center">
                                            <div class="flex justify-center" [ngClass]="{
                                                    'especialista':personaje.name === 'Especialista en Cuarentenas',
                                                    'medico' : personaje.name === 'Médico',
                                                    'constructor' : personaje.name === 'Constructor',
                                                    'investigado' : personaje.name === 'Investigador' 
                                            }"></div>
                                            <button (click)="selectChar(personaje, personaje.ciudadEnLaQueEsta)" 
                                            class="bg-emerald-400 m-2 rounded-md w-28 h-12 hover:bg-emerald-700
                                             hover:text-emerald-300 duration-150">
                                                {{personaje.name}}
                                            </button>
                                        </div>
                                        <div class="h-8">{{personaje.ciudadEnLaQueEsta.nombre}}</div>
                                    </div>
                                }
                    </div>
                </div>
                <!--acciones-->
                <div class="flex self-center items-center text-center justify-center">
                    <button (click)="partida.pasarTurno()" class="border-2 border-emerald-950 rouded-md pl-4 pr-4 p-2 rounded-md m-2 bg-emerald-800 text-emerald-200 shadow-md shadow-black 
                    hover:pl-6 hover:pr-6 duration-150">
                        Pasar turno
                    </button>
                    <button (click)="guardarPartida()" class="border-2 border-emerald-950 rouded-md pl-4 pr-4 p-2 rounded-md m-2 bg-emerald-800 text-emerald-200 shadow-md shadow-black 
                    hover:pl-6 hover:pr-6 duration-150">
                        Guardar Partida
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- ciudades mas infectadas -->
     @if (this.showCiudadesMasInfectadas) {
        <div class="flex flex-col items-center absolute z-20 top-10 w-1/2 h-96 ml-10 mr-10 bg-emerald-100 border-2 border-emerald-950 rounded-md">
            <div class="grid grid-cols-2">
                <button (click)="cerrarCiudadesMasInfectadas()" class="border-2 border-emerald-950 rouded-md pl-4 pr-4 p-2 rounded-md m-2 bg-emerald-800 text-emerald-200 shadow-md shadow-black 
                hover:pl-6 hover:pr-6 duration-150">Cerrar</button>
                                
                <div class="border-2 border-emerald-950 text-emerald-950 bg-emerald-600 rounded-md flex justify-center content-center m-2">
                    <div class="flex justify-center content-center">
                        <input class="searchCity" placeholder="Buscar una ciudad específica">
                        <button (click)="actualizarBusqueda()" class="border-2 border-emerald-200 text-emerald-200 rounded-md hover:text-emerald-950 hover:border-emerald-950">
                            Buscar
                        </button>
                    </div>
                </div>

            </div>
            <div class="overflow-y-auto h-80 w-full text-center grid grid-cols-2 gap-4">
                @for (ciudad of this.partida.listCiudades; track ciudad) {
                    @for (c of this.listaCiudadesBusqueda; track c) {
                        @if(ciudad.nombre === c.nombre){
                            <button (click)="showData(ciudad); cerrarCiudadesMasInfectadas()"
                            class="border-2 border-emerald-950 rouded-md pl-4 pr-4 p-2 rounded-md m-2 bg-emerald-800 text-emerald-200 shadow-md shadow-black 
                                hover:pl-6 hover:pr-6 duration-150">
                                <div class="flex flex-col text-center">
                                    <div>
                                        {{ciudad.nombre}}     
                                    </div>
                                    <div class="grid grid-cols-4">
                                        <div class="border-2 border-yellow-950 text-yellow-950 bg-yellow-600 rounded-md">
                                        {{ciudad.eAmarillo}}
                                        </div>
                                        <div class="border-2 border-blue-950 text-blue-950 bg-blue-600 rounded-md">
                                            {{ciudad.eAzul}}
                                        </div>
                                        <div class="border-2 border-red-950 text-red-950 bg-red-600 rounded-md">
                                            {{ciudad.eRojo}}
                                        </div>
                                        <div class="border-2 border-green-950 text-green-950 bg-green-600 rounded-md">
                                            {{ciudad.eVerde}}
                                        </div>
                                    </div>
                                    <div>    
                                    Nivel de enfermedad total: {{ciudad.calcularNivelEnfermedad()}}
                                    </div>
                                </div>
                            </button>
                        }
                    }
                }
            </div>
        </div>
     }

    <!--Acciones con personajes -->
    @if (this.showCharacterActionUI) {
        <div class="flex flex-col items-center absolute z-20 top-10 w-1/2 h-96 ml-10 mr-10 bg-emerald-100 border-2 border-emerald-950 rounded-md">
            <h1 class="text-2xl">{{personajeSeleccionado.name}}</h1>
            <div [ngClass]="{
                'especialista':personajeSeleccionado.name === 'Especialista en Cuarentenas',
                'medico' : personajeSeleccionado.name === 'Médico',
                'constructor' : personajeSeleccionado.name === 'Constructor',
                'investigado' : personajeSeleccionado.name === 'Investigador' 
            }"></div>
            @if (personajeSeleccionado.id===1) {
                <h1 class="m-2">
                    {{personajeSeleccionado.specialSkill}}
                    <br><br>
                    Actualmente está anulando la expansión de las enfermedades en {{this.ciudadPersonajeSeleccionado.nombre}} y sus colindantes
                </h1> 
            }
            @else if (personajeSeleccionado.id===2) {
                <div class="flex flex-col justify-center">
                    <h1 class="m-2">
                        {{personajeSeleccionado.specialSkill}}
                    </h1> 
                    <br><br>
                    @if (!this.personajeSeleccionado.enAccion) {
                        <button class="border-2 rounded-md pl-2 pr-2 p-1 bg-emerald-800 text-lime-300 border-red-950 hover:bg-red-700 duration-150"
                        (click)="personajeSeleccionado.reducirACeroEnfermedad(ciudadPersonajeSeleccionado, this.partida)">
                        Erradicar Enfermedad
                    </button>
                    }@else if (this.personajeSeleccionado.enAccion) {
                        <h1>Este personaje está erradicando las enfermedades de la ciudad.</h1>
                    }
                </div>
            }
            @else if (personajeSeleccionado.id===3) {
                <div class="flex flex-col justify-center">
                    <h1 class="m-2">
                        {{personajeSeleccionado.specialSkill}}
                    </h1> 
                    <br><br>
                    @if (!this.ciudadPersonajeSeleccionado.centroInvestigacion && !personajeSeleccionado.enAccion) {
                        <button class="border-2 rounded-md pl-2 pr-2 p-1 bg-emerald-800 text-lime-300 border-red-950 hover:bg-red-700 duration-150"
                        (click)="this.personajeSeleccionado.construirCentroInvestigacion(this.ciudadPersonajeSeleccionado, this.partida)">
                        Construir centro de investigación
                    </button> 
                    }@else if (personajeSeleccionado.enAccion) {
                        <h1>Este personaje está construyendo un centro de investigación.</h1>
                    }@else {
                        <h1>Esta ciudad ya tiene un centro de investigación.</h1>
                    }
                </div>
            }
            @else if (personajeSeleccionado.id===4) {
                <div class="flex flex-col justify-center">
                    <h1 class="m-2">
                        {{personajeSeleccionado.specialSkill}}
                    </h1> 
                    <br><br>    
                        <div>
                    
                    @if (!personajeSeleccionado.enAccion && !personajeSeleccionado.movido) {
                            <div class="grid grid-cols-4 text-center">

                                <button (click)="this.personajeSeleccionado.investigar(getEnfermedadByName('verde'), this.partida)"
                                class="border-2 rounded-md pl-2 pr-2 p-1 bg-emerald-800 text-lime-300 border-red-950 hover:bg-red-700 duration-150">
                                    curar e verde
                                </button>
                                <button (click)="this.personajeSeleccionado.investigar(getEnfermedadByName('azul'), this.partida)"
                                class="border-2 rounded-md pl-2 pr-2 p-1 bg-emerald-800 text-lime-300 border-red-950 hover:bg-red-700 duration-150">
                                    curar e azul
                                </button>
                                <button (click)="this.personajeSeleccionado.investigar(getEnfermedadByName('roja'), this.partida)"
                                class="border-2 rounded-md pl-2 pr-2 p-1 bg-emerald-800 text-lime-300 border-red-950 hover:bg-red-700 duration-150">
                                    curar e roja
                                </button>
                                <button (click)="this.personajeSeleccionado.investigar(getEnfermedadByName('amarilla'), this.partida)"
                                class="border-2 rounded-md pl-2 pr-2 p-1 bg-emerald-800 text-lime-300 border-red-950 hover:bg-red-700 duration-150">
                                    curar e amarilla
                                </button>
                            </div>
                        }@else{
                            <div class="text-xl text-center border-2 border-emerald-900 rounded-md m-2">
                                El Investigador está buscando una cura
                            </div>
                        }
                        </div>
                </div>
            }
            <div>
                <div class="text-center">
                    <h1 class="text-2xl">{{ciudadPersonajeSeleccionado.nombre}}</h1>
                </div>
                <div class="border-2 p-2 rounded-md border-emerald-950 text-center flex justify-center flex-col">
                    <h1 class="text-xl bg-emerald-800 p-1 rounded-md text-emerald-200">Mover a:</h1>
                    <div class="flex flex-row gap-4">
                       @for (cInicio of this.partida.listCiudades; track cInicio) {
                        @if (cInicio.nombre===personajeSeleccionado.ciudadEnLaQueEsta.nombre) {
                            @for (ciudad of cInicio.listCiudadesColindandes; track ciudad) {
                                <button class="border-2 rounded-md pl-1 pr-1 m-2 border-red-950 text-lime-300 bg-emerald-800 hover:bg-red-950 hover:text-lime-300" 
                                (click)="this.partida.moverPersonaje(personajeSeleccionado.ciudadEnLaQueEsta, cInicio.getCiudadByName(ciudad), personajeSeleccionado)">
                                    {{ciudad}}
                                </button>
                                }
                            }
                       }
                    </div>
                </div>
            </div>
            <div class="mt-5 items-center">
                <button (click)="closeUI()" class="border-2 rounded-md border-black bg-red-950 text-red-500 pl-4 pr-4 p-2 hover:bg-red-700 hover:text-red-950">
                    Close
                </button>
            </div>
        </div>
    }
</div>



