<div class="relative">
   

    <!--main container (en tamaño movil solo se podria mostrar de lado, es decir horizontalmente)-->
    <div class="grid grid-cols-1 xl:grid-cols-5 border-2 border-emerald-800 m-2 rounded-md p-2">
        
                
        <!--div de datos de la ciudad-->
        <div class="z-20 border-2 rounded-md border-emerald-300 bg-emerald-600 p-2">
            <div class="border-2 rounded-md p-2 border-emerald-950">
                <div class="text-center">
                    <h1 class="text-2xl m-1">
                        Vacunas 
                    </h1>
                </div>
                <div class="grid grid-cols-4 rounded-md text-center gap-1">
                    <div class="bg-blue-400 text-blue-950 border-blue-950 rounded-md text-md">
                        Azul&nbsp;  {{getEnfermedadByName('azul')?.turnosParaCurar}}
                    </div>
                    <div class="bg-red-400 text-red-950 border-red-950 rounded-md text-md">
                        Roja&nbsp;  {{getEnfermedadByName('roja')?.turnosParaCurar}}
                    </div>
                    <div class="bg-yellow-400 text-yellow-950 border-yellow-950 rounded-md text-md">
                        Amarilla {{getEnfermedadByName('amarilla')?.turnosParaCurar}}
                    </div>
                    <div class="bg-green-400 text-green-950 border-green-950 rounded-md text-md">
                        Verde {{getEnfermedadByName('verde')?.turnosParaCurar}}
                    </div>
                </div>
            </div>
            @if (ciudadSeleccionada.nombre) {
                <div class="p-1">
                    <h1 class="text-center">{{ciudadSeleccionada.nombre}}</h1>
                    <div class="grid grid-cols-2 text-center">
                        <div class="border-2 border-yellow-500 bg-yellow-700 text-yellow-200 rounded-md p-1 text-sm">
                            Enf Amarilla: {{ciudadSeleccionada.eAmarillo}}
                        </div>
                        <div class="border-2 border-green-500 bg-green-700 text-green-200 rounded-md p-1 text-sm">
                            Enf Verde: {{ciudadSeleccionada.eVerde}}
                        </div>
                        <div class="border-2 border-red-500 bg-red-700 text-red-200 rounded-md p-1 text-sm">
                            Enf Roja: {{ciudadSeleccionada.eRojo}}
                        </div>
                        <div class="border-2 border-blue-500 bg-blue-700 text-blue-200 rounded-md p-1 text-sm">
                            Enf Azul: {{ciudadSeleccionada.eAzul}}
                        </div>
                    </div>
                    <div>
                        <h1 class="text-center">Ciudades colindantes:</h1>
                        <div class="grid grid-cols-2 gap-1 justify-center text-center">
                            @for (ciudad of ciudadSeleccionada.listCiudadesColindandes; track ciudad) {
                                <div class="border-2 rounded-md ">
                                    {{ciudad}}
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
                
            <div class="flex justify-center p-2">
                <button (click)="mostrarCiudadesMasInfectadas()" class="border-2 border-emerald-950 rouded-md pl-4 pr-4 p-2 rounded-md m-2 bg-emerald-800 text-emerald-200 shadow-md shadow-black 
                    hover:pl-6 hover:pr-6 duration-150">
                    Ver ciudades más infectadas
                </button>
            </div>
        </div>




       
<!--Contenedor del mapa-->
        <div class="z-10 map-container grid-cols-3 relative w-full h-full col-span-3" 
            (wheel)="onZoom($event)" 
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp()">
            
            
            <!--lineas de conexion-->
            <svg class="absolute inset-0 w-full h-full pointer-events-none"
            [ngStyle]="{'transform': 'scale(' + zoomLevel + ') translate(' + offsetX + 'px, ' + offsetY + 'px)'}">
            <ng-container *ngFor="let ciudad of partida.listCiudades">
                <ng-container *ngFor="let colindante of ciudad.listCiudadesColindandes">
                    <line 
                        [attr.x1]="ciudad.coordenadasX * scalingFactorX + 10"
                        [attr.y1]="ciudad.coordenadasY * scalingFactorY + 10"
                        [attr.x2]="(getCiudad(colindante)?.coordenadasX || 0) * scalingFactorX + 10"
                        [attr.y2]="(getCiudad(colindante)?.coordenadasY || 0) * scalingFactorY + 10"
                        stroke="red"
                        stroke-width="2">
                    </line>
                </ng-container>
            </ng-container>
          </svg>
          <!--Ciudades-->
                <div class="wrapper"  [ngStyle]="{'transform': 'scale(' + zoomLevel + ') translate(' + offsetX + 'px,' + offsetY + 'px)'}">
                    <img src="/mapa/mapa_mundo.png" class="w-full h-full object-cover unselectable" draggable="false" (dragstart)="false;">
                     @for (ciudad of partida.listCiudades; track ciudad) {
                           <div (click)="showData(ciudad)" class="cursor-pointer absolute bg-blue-500 text-white rounded-full p-1 border-2" 
                            [ngStyle]="{
                                'left.px': (ciudad.coordenadasX * scalingFactorX),
                                'top.px': (ciudad.coordenadasY * scalingFactorY)}">
                            </div>
                            <div class="flex flex-col justify-center mt-1 text-sm absolute text-white rounded-full p-2 text-center"  [ngStyle]="{
                                'left.px': (ciudad.coordenadasX * scalingFactorX),
                                'top.px': (ciudad.coordenadasY * scalingFactorY)}">
                                <div>
                                    {{ciudad.nombre}}
                                </div>
                            </div>
                            }   
                </div>
            </div>


        <!--datos partida-->
        <div class="z-20 border-2 rounded-md border-emerald-300 bg-emerald-600 p-2">
            <!--Actualizaciones del turno y mas data-->
            <div class="grid grid-cols-2 text-center border-2 border-emerald-950 rounded-sm m-1 p-2">
                <div>
                    Jugadas restantes: {{partida.jugadas}}
                </div>
                <div>
                    Turno número: {{partida.counterTurnos}}
                </div>
            </div>
            <!--datos personajes-->
            <div class="text-center border-2 border-emerald-700 rounded-md">
                <div class="grid grid-cols-2">
                    @for (personaje of listPersonajes; track personaje) {
                                <div>
                                    <button (click)="selectChar(personaje, personaje.ciudadEnLaQueEsta)" class="bg-emerald-400 m-2 rounded-md w-28 h-12 hover:bg-emerald-700 hover:text-emerald-300 duration-150">
                                        {{personaje.name}}
                                    </button>
                                    <div class="h-8">{{personaje.ciudadEnLaQueEsta.nombre}}</div>
                                </div>
                            }
                </div>
            </div>
            <!--acciones-->
            <div class="flex self-center items-center text-center justify-center">
                <button (click)="partida.pasarTurno()" class="border-2 border-emerald-950 rouded-md pl-4 pr-4 p-2 rounded-md m-2 bg-emerald-800 text-emerald-200 shadow-md shadow-black 
                hover:pl-6 hover:pr-6 duration-150">
                    Pasar turno
                </button>
                <button (click)="guardarPartida(this.partida)" class="border-2 border-emerald-950 rouded-md pl-4 pr-4 p-2 rounded-md m-2 bg-emerald-800 text-emerald-200 shadow-md shadow-black 
                hover:pl-6 hover:pr-6 duration-150">
                    Guardar Partida
                </button>
            </div>
        </div>
    </div>


    <!-- ciudades mas infectadas -->
     @if (this.showCiudadesMasInfectadas) {
        <div class="flex flex-col items-center absolute z-20 top-10 w-1/2 h-96 ml-10 mr-10 bg-emerald-100 border-2 border-emerald-950 rounded-md">
            <button (click)="cerrarCiudadesMasInfectadas()" class="border-2 border-emerald-950 rouded-md pl-4 pr-4 p-2 rounded-md m-2 bg-emerald-800 text-emerald-200 shadow-md shadow-black 
            hover:pl-6 hover:pr-6 duration-150">Cerrar</button>
            <div class="overflow-y-auto h-80 w-full text-center grid grid-cols-2 gap-4">
                @for (ciudad of this.partida.listCiudades; track ciudad) {
                    <button (click)="showData(ciudad); cerrarCiudadesMasInfectadas()"
                    class="border-2 border-emerald-950 rouded-md pl-4 pr-4 p-2 rounded-md m-2 bg-emerald-800 text-emerald-200 shadow-md shadow-black 
                        hover:pl-6 hover:pr-6 duration-150">
                        <div class="flex flex-col text-center">
                            <div>
                                {{ciudad.nombre}}     
                            </div>
                            <div class="grid grid-cols-4">
                                <div class="border-2 border-yellow-950 text-yellow-950 bg-yellow-600 rounded-md">
                                   {{ciudad.eAmarillo}}
                                </div>
                                <div class="border-2 border-blue-950 text-blue-950 bg-blue-600 rounded-md">
                                    {{ciudad.eAzul}}
                                </div>
                                <div class="border-2 border-red-950 text-red-950 bg-red-600 rounded-md">
                                    {{ciudad.eRojo}}
                                </div>
                                <div class="border-2 border-green-950 text-green-950 bg-green-600 rounded-md">
                                    {{ciudad.eVerde}}
                                </div>
                            </div>
                            <div>    
                               Nivel de enfermedad total: {{ciudad.calcularNivelEnfermedad()}}
                            </div>
                        </div>
                    </button>
                }
            </div>
        </div>
     }

    <!--Acciones con personajes -->
    @if (this.showCharacterActionUI) {
        <div class="flex flex-col items-center absolute z-20 top-10 w-1/2 h-96 ml-10 mr-10 bg-emerald-100 border-2 border-emerald-950 rounded-md">
            <h1 class="text-2xl">{{personajeSeleccionado.name}}</h1>
            @if (personajeSeleccionado.id===1) {
                <h1 class="m-2">
                    {{personajeSeleccionado.specialSkill}}
                    <br><br>
                    Actualmente está anulando la expansión de las enfermedades en {{this.ciudadPersonajeSeleccionado.nombre}} y sus colindantes
                </h1> 
            }
            @else if (personajeSeleccionado.id===2) {
                <div class="flex flex-col justify-center">
                    <h1 class="m-2">
                        {{personajeSeleccionado.specialSkill}}
                    </h1> 
                    <br><br>
                    @if (!this.personajeSeleccionado.enAccion) {
                        <button class="border-2 rounded-md pl-2 pr-2 p-1 bg-emerald-800 text-lime-300 border-red-950 hover:bg-red-700 duration-150"
                        (click)="personajeSeleccionado.reducirACeroEnfermedad(ciudadPersonajeSeleccionado, this.partida)">
                        Erradicar Enfermedad
                    </button>
                    }@else if (this.personajeSeleccionado.enAccion) {
                        <h1>Este personaje está erradicando las enfermedades de la ciudad.</h1>
                    }
                </div>
            }
            @else if (personajeSeleccionado.id===3) {
                <div class="flex flex-col justify-center">
                    <h1 class="m-2">
                        {{personajeSeleccionado.specialSkill}}
                    </h1> 
                    <br><br>
                    @if (!this.ciudadPersonajeSeleccionado.centroInvestigacion && !personajeSeleccionado.enAccion) {
                        <button class="border-2 rounded-md pl-2 pr-2 p-1 bg-emerald-800 text-lime-300 border-red-950 hover:bg-red-700 duration-150"
                        (click)="this.personajeSeleccionado.construirCentroInvestigacion(this.ciudadPersonajeSeleccionado, this.partida)">
                        Construir centro de investigación
                    </button> 
                    }@else if (personajeSeleccionado.enAccion) {
                        <h1>Este personaje está construyendo un centro de investigación.</h1>
                    }@else {
                        <h1>Esta ciudad ya tiene un centro de investigación.</h1>
                    }
                </div>
            }
            @else if (personajeSeleccionado.id===4) {
                <div class="flex flex-col justify-center">
                    <h1 class="m-2">
                        {{personajeSeleccionado.specialSkill}}
                    </h1> 
                    <br><br>
                    <div class="grid grid-cols-4 text-center">
                        @if (!personajeSeleccionado.enAccion) {

                            <button (click)="this.personajeSeleccionado.investigar(getEnfermedadByName('verde'), this.partida)"
                            class="border-2 rounded-md pl-2 pr-2 p-1 bg-emerald-800 text-lime-300 border-red-950 hover:bg-red-700 duration-150">
                                curar e verde
                            </button>
                            <button (click)="this.personajeSeleccionado.investigar(getEnfermedadByName('azul'), this.partida)"
                            class="border-2 rounded-md pl-2 pr-2 p-1 bg-emerald-800 text-lime-300 border-red-950 hover:bg-red-700 duration-150">
                                curar e azul
                            </button>
                            <button (click)="this.personajeSeleccionado.investigar(getEnfermedadByName('roja'), this.partida)"
                            class="border-2 rounded-md pl-2 pr-2 p-1 bg-emerald-800 text-lime-300 border-red-950 hover:bg-red-700 duration-150">
                                curar e roja
                            </button>
                            <button (click)="this.personajeSeleccionado.investigar(getEnfermedadByName('amarilla'), this.partida)"
                            class="border-2 rounded-md pl-2 pr-2 p-1 bg-emerald-800 text-lime-300 border-red-950 hover:bg-red-700 duration-150">
                                curar e amarilla
                            </button>
                        } @else if (this.personajeSeleccionado.enAccion) {
                            <h1 class="border-2 rounded-md border-emerald-950 text-2xl">
                                El personaje está estudiando una enfermedad
                            </h1>
                        }
                    </div>
                </div>
            }
            <div>
                <div class="text-center">
                    <h1 class="text-2xl">{{ciudadPersonajeSeleccionado.nombre}}</h1>
                </div>
                <div class="border-2 p-2 rounded-md border-emerald-950 text-center flex justify-center flex-col">
                    <h1 class="text-xl bg-emerald-800 p-1 rounded-md text-emerald-200">Mover a:</h1>
                    <div class="flex flex-row gap-4">
                       @for (cInicio of this.partida.listCiudades; track cInicio) {
                        @if (cInicio.nombre===personajeSeleccionado.ciudadEnLaQueEsta.nombre) {
                            @for (ciudad of cInicio.listCiudadesColindandes; track ciudad) {
                                <button class="border-2 rounded-md pl-1 pr-1 m-2 border-red-950 text-lime-300 bg-emerald-800 hover:bg-red-950 hover:text-lime-300" 
                                (click)="this.partida.moverPersonaje(personajeSeleccionado.ciudadEnLaQueEsta, cInicio.getCiudadByName(ciudad), personajeSeleccionado)">
                                    {{ciudad}}
                                </button>
                                }
                            }
                       }
                    </div>
                </div>
            </div>
            <div class="mt-5 items-center">
                <button (click)="closeUI()" class="border-2 rounded-md border-black bg-red-950 text-red-500 pl-4 pr-4 p-2 hover:bg-red-700 hover:text-red-950">
                    Close
                </button>
            </div>
        </div>
    }
</div>



