.cuadroInicio{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;

}
.log-in{
    padding-top: 10px;
    border: rgb(64, 24, 117) solid 5px;
    border-radius: 15PX;
    width: 300px;
    height: auto;
    background-color: rgb(49, 49, 161);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.enter{
    height: 40px;
    border: black solid 3px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(49, 129, 161);
    user-select:none; cursor: pointer;
}
.enter:hover{
    background-color: rgb(0, 140, 255);
    padding-left: 8px;
    padding-right: 8px;
    transition-duration: 150ms;
}

input{
    color: black;
    padding-left:5px ;
    border-radius: 5px;
}
.fuera-log{
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
}
.registar{user-select:none; cursor: pointer;} 
.registar:hover{color: rgb(0, 140, 255);}
.olvide{user-select: none; cursor: pointer;}
.olvide:hover{color: rgb(0, 140, 255);}