<div class="fondo">
    <div class="cuadroInicio lg:w-96 lg:text-2xl sm:w-64 sm:text-sm">
        <form [formGroup]="this.registrationForm" (ngSubmit)="enviar($event)" class="log-in shadow-lg shadow-black">
            <div class="Nick">
                <p>Nombre de usuario</p>
                <input formControlName="nickName" type="text" class="username p-1" name="username" placeholder="Ingrese su usuario"><br><br>
            </div>
            @if (!this.registrationForm.valid && this.registrationForm.get('nickName')?.touched) {
                @if (this.registrationForm.get('nickName')?.errors?.['required']) {
                    <div class="text-center pl-2 pr-2 p-1 rounded-md border-2 border-red-950 bg-red-900 text-red-50">El nickname es obligatorio</div>
                }@else if (this.registrationForm.get('nickName')?.errors?.['minlength']) {
                    <div class="text-center pl-2 pr-2 p-1 rounded-md border-2 border-red-950 bg-red-900 text-red-50">El tamaño minimo son 3 caracteres</div>
                }@else if (this.registrationForm.get('nickName')?.errors?.['minlength']) {
                    <div class="text-center pl-2 pr-2 p-1 rounded-md border-2 border-red-950 bg-red-900 text-red-50">El tamaño máximo son 30 caracteres</div>
                }
            }
            <div class="Nick">
                <p>email</p>
                <input formControlName="email" type="email" class="email p-1" name="email" placeholder="ingrese su correo"><br><br>
            </div>
            @if (!this.registrationForm.valid && this.registrationForm.get('email')?.touched) {
                @if (this.registrationForm.get('email')?.errors?.['required']) {
                    <div class="text-center pl-2 pr-2 p-1 rounded-md border-2 border-red-950 bg-red-900 text-red-50">El email es obligatorio</div>
                }@else if (this.registrationForm.get('email')?.errors?.['email']) {
                    <div class="text-center pl-2 pr-2 p-1 rounded-md border-2 border-red-950 bg-red-900 text-red-50">Este campo tiene que ser un email valido</div>
                }
            }
            <div class="contraseña">
                <p>Contraseña</p>
                <input formControlName="password" type="password" class="password p-1" name="password" placeholder="Ingrese su contraseña"><br><br>
            </div>
            @if (!this.registrationForm.valid && this.registrationForm.get('password')?.touched) {
                @if (this.registrationForm.get('password')?.errors?.['required']) {
                    <div class="text-center pl-2 pr-2 p-1 rounded-md border-2 border-red-950 bg-red-900 text-red-50">La contraseña es obligatorio</div>
                }@else if (this.registrationForm.get('password')?.errors?.['minlength']) {
                    <div class="text-center pl-2 pr-2 p-1 rounded-md border-2 border-red-950 bg-red-900 text-red-50">El tamaño minimo son 10 caracteres</div>
                }@else if (this.registrationForm.get('password')?.errors?.['minlength']) {
                    <div class="text-center pl-2 pr-2 p-1 rounded-md border-2 border-red-950 bg-red-900 text-red-50">El tamaño máximo son 20 caracteres</div>
                }
            }
            <div class="contraseña">
                <p>Repetir Contraseña</p>
                <input formControlName="password2" type="password" class="password p-1" name="password" placeholder="Ingrese su contraseña"><br><br>
            </div>
            @if (!this.registrationForm.valid && this.registrationForm.get('password')?.touched) {
                @if (this.registrationForm.get('password')?.errors?.['required']) {
                    <div class="text-center pl-2 pr-2 p-1 rounded-md border-2 border-red-950 bg-red-900 text-red-50">La contraseña es obligatorio</div>
                }@else if (this.registrationForm.get('password')?.errors?.['minlength']) {
                    <div class="text-center pl-2 pr-2 p-1 rounded-md border-2 border-red-950 bg-red-900 text-red-50">El tamaño minimo son 10 caracteres</div>
                }@else if (this.registrationForm.get('password')?.errors?.['minlength']) {
                    <div class="text-center pl-2 pr-2 p-1 rounded-md border-2 border-red-950 bg-red-900 text-red-50">El tamaño máximo son 20 caracteres</div>
                }
            }
            @if (!this.registrationForm.valid && this.registrationForm.get('password')?.touched) {
                @if (registrationForm.get('password2')?.touched && registrationForm.get('password2')?.hasError('passwordMismatch')) {
                    <div class="text-center pl-2 pr-2 p-1 rounded-md border-2 border-red-950 bg-red-900 text-red-50"> Las contraseñas no coinciden</div>
                }
            }
            <button type="submit" class="enter mb-2" >
                Registrar
            </button>
        </form>
        <div class="fuera-log">
            <span class="registar" type="boton" (click)="IrALogin()">Login</span>
            <span class="olvide" type="boton" routerLink>Olvide mi contraseña</span>
        </div>
    </div>
</div>


<section class="relative">
    <div class='air air1'></div>
    <div class='air air2'></div>
    <div class='air air3'></div>
    <div class='air air4'></div>
    <div class='aird air1'></div>
    <div class='aird air2'></div>
    <div class='aird air3'></div>
    <div class='aird air4'></div>

    <div class="slider-thumbb">
        <div class="slider-thumb1 slider-thumb"></div>
        <div class="slider-thumb2 slider-thumb"></div>
        <div class="slider-thumb3 slider-thumb"></div>
        <div class="slider-thumb4 slider-thumb"></div>
        <div class="slider-thumb1a slider-thumb"></div>
        <div class="slider-thumb2a slider-thumb"></div>
        <div class="slider-thumb3a slider-thumb"></div>
        <div class="slider-thumb4a slider-thumb"></div>
        <div class="slider-thumb1m slider-thumb md:block sm:hidden"></div>
        <div class="slider-thumb2m slider-thumb md:block sm:hidden"></div>
        <div class="slider-thumb3m slider-thumb md:block sm:hidden"></div>
        <div class="slider-thumb4m slider-thumb md:block sm:hidden"></div>
    </div>
</section>