@if(profile.profilePic==null){
    <div class="perfil" (click)="IrAPerfil()"></div>
}@else{
    <div class="perfil2" (click)="IrAPerfil()">
        <img class="rounded-full border-2 border-emerald-950" src="{{profile.profilePic}}"/>
    </div>
}


<section class="relative min-h-screen">

<div class="border-2 rounded-md border-emerald-950 m-2 relative mt-20 shadow-md shadow-red-950 bg-red-700">
    <h1 class="text-center text-3xl p-2 rounded-md text-red-600 bg-red-950">Reglas del juego</h1>
    <div class="m-2 grid grid-cols-2 [&>*]:m-1 [&>*]:p-1 [&>*]:border-2 [&>*]:border-red-950 [&>*]:rounded-md">
        <div>
            <h1 class="m-2 text-2xl">
                Objetivo:
            </h1>
            Controla la propagación de enfermedades en diferentes ciudades mientras mejoras la salud global. Usa tus recursos y personajes estratégicamente para superar los desafíos.
        </div>
        <div>
            <h1 class="m-2 text-2xl">
                Turnos:
            </h1>
            Cada turno, las enfermedades se propagan o disminuyen dependiendo de tus decisiones. Usa tus turnos para curar, investigar o reducir infecciones en las ciudades.
        </div>
        <div>
            <h1 class="m-2 text-2xl">
                Personajes:
            </h1>
            Cada personaje tiene habilidades únicas. Selecciónalos sabiamente para actuar en las ciudades más necesitadas.
            Asigna tareas como curar o gestionar brotes en una ciudad.
        </div>
        <div>
            <h1 class="m-2 text-2xl">
                Ciudades:
            </h1>
            Las ciudades tienen niveles de infección. Vigila cuáles están más infectadas para priorizar tus esfuerzos.
            Puedes buscar ciudades por nombre para gestionarlas.
        </div>
        <div>
            <h1 class="m-2 text-2xl">
                Enfermedades:
            </h1>
            Cada enfermedad tiene un tiempo de curación. Si logras curarla, recibirás puntos como recompensa.
            Las enfermedades pueden reaparecer si no controlas la propagación.
        </div>
        <div>
            <h1 class="m-2 text-2xl">
                Acciones Disponibles:
            </h1>
            Curar Enfermedad: Reduce los niveles de infección.
            Mover Personaje: Desplázalos entre ciudades para gestionar brotes.
            Revisar Ciudades: Busca las más afectadas y toma decisiones estratégicas.
        </div>
        <div>
            <h1 class="m-2 text-2xl">
                Puntuación:
            </h1>
            Gana puntos al curar enfermedades y gestionar bien las ciudades. Tu objetivo es lograr la mayor puntuación posible mientras mantienes el mundo bajo control.
        </div>
        <div>
            <h1 class="m-2 text-2xl">
                Zoom y Navegación:
            </h1>
            Usa el zoom para enfocar regiones específicas del mapa.
            Puedes desplazarte por el mapa con el ratón o tocando la pantalla (en móviles).
        </div>
        <div>
            <h1 class="m-2 text-2xl">
                Fin del Juego:
            </h1>
            El juego termina si las enfermedades se descontrolan o si logras curar todas las ciudades.
        </div>
        <h1 class="m-2 text-2xl text-center content-center">
            ¡Buena suerte, estratega! Salva el mundo turno a turno.
        </h1>
    </div>
</div>


<div class='air air1'></div>
<div class='air air2'></div>
<div class='air air3'></div>
<div class='air air4'></div>
<div class='aird air1'></div>
<div class='aird air2'></div>
<div class='aird air3'></div>
<div class='aird air4'></div>

<div class="slider-thumbb">
    <div class="slider-thumb1r slider-thumb lg:block hidden"></div>
    <div class="slider-thumb2r slider-thumb lg:block hidden"></div>
    <div class="slider-thumb3r slider-thumb lg:block hidden"></div>
    <div class="slider-thumb4r slider-thumb lg:block hidden"></div>
    <div class="slider-thumb1a slider-thumb lg:block hidden"></div>
    <div class="slider-thumb2a slider-thumb lg:block hidden"></div>
    <div class="slider-thumb3a slider-thumb lg:block hidden"></div>
    <div class="slider-thumb4a slider-thumb lg:block hidden"></div>
</div>
</section>